header.header.flex-container
  nav.nav--left.flex-container
    a(href='/')
      .header__logo
        img(src='/img/logo.png', alt='Main Logo')
    form.nav__search
      //-   svg
      //-     use(xlink:href='/img/icons.svg#icon-search')
      input.nav__search-input(type='text', placeholder='Search')
      button.nav__search-btn

  nav.nav--user
    if user
      button.nav__logout-btn Log Out
      a.nav__el(href='/me')
        img.nav__user-img(src=`img/users/${user.photo}`, alt=`Photo of ${user.name}`)
        span= user.name.split(' ')[0]
    else
      a.nav__el(href='/login') Log in
      a.nav__el Sign Up
    // 'user' is a variable, added to req.locals in authController.isLoggedIn