form.nav__search.flex-column
  //- svg use(xlink:href='/img/icons.svg#icon-search')
  input.nav__search-input(type='text', placeholder='Search for trips')
  button.nav__search-btn Go!
a(href='/createTrip' class='index__add-btn') Add new trip
a(href='/friends' class='index__add-btn') My friends