extends base

block content
  form.login-form.flex-column
    input(type='text' id='login-email' class='login-form__input' placeholder='email')
    input(type='password' id='login-password' class='login-form__input' placeholder='password')
    button.login-form__btn Login