html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.background-image {
    background-image: url("/img/highway.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}
a {
    text-decoration: none;
    color: black;
}

h1 {
    padding: 0;
    margin: 2vh 0 0 0 ;
    font-size: 6vh;
    color: rgb(221, 239, 252);
}
textarea:focus, input:focus{
    outline: 1px solid yellow;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh
}

.main-left, .main-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    flex: 1;
}
/* .hidden {
    right: -200px;
} */
.active-info-window {
    right: 1vw !important;
}
.alert-container {
    position: absolute;
    top: 0;
    left: 45%;
    border: 1px solid black;
    border-radius: 7px;
    transition: all 0.5s;
    /* width: 15vw; */
    padding: 10px;
    text-align: center;
    z-index: 300;
}
.bad { background-color: rgba(220, 20, 60, 0.81); }
.good { background-color: rgba(67, 220, 20, 0.81); }
.alert-text {
    font-size: 3vh;
    color: whitesmoke;
}
.hidden-alert {
    top: -100px;
}

/*! Main */
.index-logo {
    width: 5vw;
    height: 5vw;
}
.indexPage__topLine {
    width: 100vw;
    display: flex;
    justify-content:flex-start;
    /* align-items: flex-start; */
}
.indexPage__title {
    margin-left: 18svw;
    font-size: 4vh;
}
.indexPage_friendLogo {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    margin: 1vh 0 0 2vw;
    font-size: 3vh;
    background-color: rgba(255, 200, 0, 0.7);
}
.index-brand-container {
    margin-top: 3vh;
}
.index-brand {
    /* margin-top: 3vh; */
    font-size: 18px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav__user-img {
    width: 3vw;
}
.main-container {
    width: 100vw;
    padding: 0;
    margin: 0;
}

.main-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 16vw;
    height: 16vw;
    background-image: url('/img/stamp.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1000;
}
.nav__search {
    width: 13vw;
    background-color: #fff9ebc6;
    margin-top: 3vh;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}
/*! Overview page */
.cardContainer {
    width: 80vw;
    margin-left: 15vw;
    margin-bottom: 2vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px 15px;
}
.tripCard {
    position: relative;
    background-color: rgba(255, 228, 196, 0.524);
    border-radius: 8px;
    justify-content: flex-end;
    width: 24vw;
    height: 24vw;
    transition: all 0.5s;
    box-shadow: 0 0 15px rgba(245, 245, 245, 0.2);
}
.tripCard__picture {
    position: absolute;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 70%;
    opacity: 0.8;
    border-radius: 8px;
    filter:sepia(0.3);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
    clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
}
.tripCard:hover {
    box-shadow: 0 0 15px rgba(224, 146, 0, 0.3);
    transform: scale(1.03);
    cursor: pointer;
}
.tripCard__name {
    color: black;
    background-color: rgba(255, 228, 196, 0.6);
    width: 24vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    z-index: 10;
    font-size: 4.5vh;
}
.tripCard__date, .tripCard__highlight {
    /* padding: 8px; */
    margin: 0;
    color: whitesmoke;
    /* text-shadow: 0 0 3px black, 0 0 10px black, 0 0 14px black, 0 0 20px #e67b00; */
    font-size: 2.5vh;
    font-weight: 300;
}
.tripCard__user-photo {
    width: 3vw;
    margin: 3px;
    filter:sepia(0.6);
}
.smaller-photo {
    width: 2.5vw;
}
.tripCard__with-cardContainer {
    border: 1px solid black;
    background-color: rgba(255, 228, 196, 0.5);
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 3px;
}

/*! login */
.login-form {
    margin: 5vh 0 5vh 0;
}

.login-form__input {
    width: 20vw;
    height: 5vh;
    background-color: rgba(255, 200, 0, 0.7);
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    font-size: 2.5vh;
}

.login-form__btn {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 2vh;
    background-color: rgba(255, 200, 0, 0.4)
}

.login-form__btn:hover {
    cursor: pointer;
    background-color: rgba(255, 200, 0, 0.8);
}
.vertical-line {
    margin: 20px;
    border-left: 3px solid rgb(252, 2, 2);
    height: 35vh;
}

/*! My profile page */
.userProfile__infoTable {
    background-color: rgba(187, 140, 20, 0.2);
    padding: 10px;
    margin-top: 5vh;
    border: 1px solid black;
    border-radius: 10px;
}
.userProfile__parameter-container {
    width: 40vw;
    padding: 10px;
    /* margin: 2vh 0 2vh 0; */
    border: 1px solid black;
    border-radius: 5px;
}
.userProfile__userPhoto {
    width: 25vw;
}
/*! Friends */
table {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
table th, table td {
    width: 25vw;
    background-color: rgba(181, 181, 1, 0.2);
    padding: 0.75rem;
    vertical-align: middle;
    font-family: Didot, serif;
    text-align: center;
    font-size: 19px;
}
tbody tr:nth-of-type(odd) {
    background-color: rgba(248, 212, 168, 0.209);

}
tbody tr:nth-of-type(even) {
    background-color: rgba(114, 115, 115, 0.3);
}

tbody tr:hover {
    background-color: rgba(240, 194, 27, 0.3);
    cursor: pointer;
}
.friendsPage__table {
    display: none;
}
.friendsPage__pic {
    width: 10vw;
}
.friendsPage__picSmall {
    width: 5vw;
}
.friendsPage__friendContainer {
    background-color: rgba(255, 200, 0, 0.7);
    width: 18vw;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.friendsPage__friendContainer > * {
    margin: 5px;
}

/*! Trip page */
.trip-info__container {
    padding: 15px;
    gap: 2vw;
}
.trip-info__bigName {
    color: rgb(0, 28, 91);
    font-size: 6vh;
}
.trip-info__top-info {
    gap: 0;
}
.trip-info__dialogBtn {
    position: absolute;
    bottom: 3vh;
    font-size: 5vh;
    /* z-index: 140; */
}
dialog {
    position: fixed;
    opacity: 0;
    scale: 0;
    transition: all 0.5s;
}
dialog[open] {
    opacity: 1;
    scale: 1;
}
    dialog::backdrop {
    background-color: #30210a6f;
}
.trip-info__lower-info {
    padding: 15px;
    width: 50vw;
    background-color: rgba(49, 47, 40, 0.9);
    border: 1px solid grey;
    border-radius: 15px;
    /* margin-top: 80vh; */
    align-items: baseline;
    gap: 5vw;
}
.trip-info__name {
    position: absolute;
    left: 17vw;
    top: 1vh;
    z-index: 500;
    margin: 5px 0 5px 0;
}
.trip-info__highlight {
    margin: 0;
    color: whitesmoke;
    font-size: 5vh;
}
.trip-info__description {
    background-color: rgba(255, 200, 0, 0.748);
    font-size: 17px;
}
.trip-info__smallText {
    color: whitesmoke;
}
.trip-info__travelers-container, .trip-info__description {
    padding: 8px;
    border: 1px solid grey;
    border-radius: 10px;
}
.trip-desc__user-photo {
    width: 7vw;
    margin: 10px;
}
.trip-desc__user-photo:hover {
    cursor: pointer;
}
.trip-info__description {
    width: 50vw;
}
.map, .locationsMap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.trip-info__buttons-container {
    gap: 5vw;
}
.newTrip__nextBtn, .index__nav-btn, .locations__center-btn, .userProfile__saveBtn, 
.userProfile__deleteBtn, .newTrip__tripPhotoBtn, .trip-info__dialogBtn, .nav__search-btn,
.trip-info__edit-info-btn, .trip-info__edit-locations-btn, .trip-info__delete-btn, 
.locations__submitBtn, .locations__deleteBtn {
    width: 10vw;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 200, 0, 0.72);
    font-size: 18px;
    text-align: center;
}
.userProfile__deleteBtn, .trip-info__delete-btn, .locations__deleteBtn {
    background-color: rgba(255, 21, 0, 0.72);
}
.userProfile__deleteBtn:hover, .trip-info__delete-btn:hover {
    cursor: pointer;
    background-color: rgb(148, 13, 1);
}
.newTrip__nextBtn:hover, .userProfile__saveBtn, .trip-info__dialogBtn:hover, 
.trip-info__edit-info-btn:hover, .trip-info__edit-locations-btn:hover, 
.nav__search-btn:hover, .index__nav-btn:hover {
    cursor: pointer;
    background-color: rgba(156, 122, 1, 0.9);
}
.trip-info__details-window {
    /* display: none; */
    background-color: rgba(250, 235, 215, 0.94);
    width: 30vw;
    height: 80vh;
    position: absolute;
    top: 10vh;
    right: -32vw;
    border: 1px solid grey;
    border-radius: 10px;
    z-index: 100;
    transition: all 0.7s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.626);
}
.trip-info__loc-image {
    width: 8vw;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    margin-left: -100px;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.marker {
    background-image: url('/img/pin.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 120;
}
.locations__editForm, .trip-info__location-info, .location-info__infoLine {
    width: 100%;
}
.location-info__infoLine {
    text-align: center;
    padding: 10px;
}
.location-info__text{
    width: 30%;
    font-size: 20px;
}
.location-info__editName, .location-info__editAddress, .location-info__editDesc {
    flex: 1;
    padding: 8px;
    margin-right: 20px;
    background-color: rgba(255, 200, 0, 0.3);
    border-radius: 5px;
    font-size: 17px;
}
.location-info__editDesc {
    height: 20vh;
}
.trip-info__closeDatails {
    position: absolute;
    right: 1vw;
    top: 1vh;
    font-size: 30px;
    font-weight: 600;
}
.trip-info__closeDatails:hover {
    cursor: pointer;
}

/*! New Trip page */
.newTrip__container {
    padding: 8px;
    margin-left: 10vw;
    background-color: rgba(255, 200, 0, 0.32);
    border: 2px solid grey;
    border-radius: 10px;
}
.newTrip__textLine {
    padding: 8px;
}
.newTrip__text {
    font-size: 20px;
}
.newTrip__input-name, .newTrip__input-date, .newTrip__input-highlight, 
.newTrip__input-description, .nav__search-input,
.newTrip__input-duration, .newTrip__input-with {
    background-color: rgba(153, 153, 153, 0.255);
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin-left: 2vw;
    width: 30vw;
    height: 6vh;
}
.nav__search-input {
    font-weight: 400;
    margin: 0;
    width: 13vw;
    z-index: 10;
}
.newTrip__input-description {
    height: 20vh;
    width: 50vw;
}
.newTrip__with-container {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
.newTrip__friendIcon {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 3px;
}
.newTrip__friendIcon > * {
    padding: 5px;
}
.newTrip__deleteTraveler {
    font-size: 15px;
    font-weight: 600;
}
.newTrip__deleteTraveler:hover {
    cursor: pointer;
}
.newTrip__tripImage {
    width: 20vw;
}
/*! new locations page */
.locationsMap {
    height: 100vh;
}
.locations__center-form > * {
    margin: 5px;
    padding: 8px;
}
.locations__upper-block {
    gap: 15vw;
    z-index: 300;
}
.locations__lower-block {
    margin-top: 80vh;
    z-index: 10;
}

/*! Trips of my friends */
.friendsTrips__outerBox {
    background-color: rgba(255, 200, 0, 0.3);
    margin: 15px;
    margin-left: 17vw;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    gap: 2vh;
}
.friendsTrips__trip-container {
    position: relative;
    width: 60vw;
    height: 20vh;
    /* padding: 10px; */
    background-color: #f7f7f7d0;
    border-radius: 10px;
    transition: all 0.5s;
}
.friendsTrips__verticalLine {
    position: absolute;
    right: 0;
    margin: 10px;
    padding: 5px;
    border-left: 2px solid rgb(3, 2, 2);
    height: 80%;
}
.friendsTrips__trip-container:hover {
    transform: scale(1.02);
}
.friendsTrips__cover {
    position: absolute;
    right: 0;
    height: 100%;
    width: 33%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
    -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
}
.friendsTrips__date, .friendsTrips__name {
    color: rgb(2, 2, 2);
    font-size: 20px;
}
.friendsTrips__info {
    position: absolute;
    left: 0;
    width: 70%;
    height: 100%;
}
.friendsTrips__dateColumn {
    position: relative;
    height: 100%;
    width: 30%;
    text-align: center;
}
.friendsTrips__infoColumn {
    flex: 1;
}
.friendsTrips__name {
    font-size: 4.5vh;
}
.friendsTrips__travelersContainer {
    justify-content: flex-start;
    margin-top: 2vh;
}

/*! Footer */
.footer {
    flex-shrink: 0;
    /* bottom: 0; */
    width: 100%;
    background-color: #f7f7f7;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
  }

.footer__copyright {
    justify-self: end;
    color: #999;
  }

.footer__nav {
    font-size: 10px;
  }

