body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    color: rgb(0, 46, 79);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh
}

.main-left, .main-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
/* Main */
.index-logo {
    width: 5vw;
    height: 5vw;
}
.index-brand-container {
    margin-top: 3vh;
}
.index-brand {
    /* margin-top: 3vh; */
    font-size: 18px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.main-container {
    width: 100vw;
    padding: 0;
    margin: 0;
}

.main-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 16vw;
    height: 16vw;
    background-image: url('/img/stamp.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1000;
}
.nav__search {
    margin-top: 2vh;
    padding: 15px;
    border: 1px solid black;
    border-radius: 8px;
}

/* Overview page */
.cardContainer {
    display: grid;
}
.tripCard {
    /* background-color: rgba(255, 200, 0, 0.546); */
    /* border: 1px solid grey; */
    /* border-radius: 8px; */
    padding: 8px;
    width: 30vw;
    height: 20vh;
}
.tripCard:hover {
    background-color: rgba(255, 200, 0, 0.72);
    cursor: pointer;
}
.tripCard__picture {
    /* -o-object-fit: cover; */
    position: absolute;
    object-fit: cover;
    width: 30vw;
    height: 20vh;
    opacity: 0.7;
    z-index: -10;
    border-radius: 10px;
  }

/* login */
.login-form {
    margin: 5vh 0 5vh 0;
}

.login-form__input {
    width: 20vw;
    height: 5vh;
    background-color: rgba(255, 200, 0, 0.7);
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    font-size: 2.5vh;
}

.login-form__btn {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 2vh;
    background-color: rgba(255, 200, 0, 0.4)
}

.login-form__btn:hover {
    cursor: pointer;
    background-color: rgba(255, 200, 0, 0.8);
}

/* Trip page */
.trip-info__container {
    padding: 15px;
    gap: 2vw;
}
.trip-info__top-info {
    gap: 0;
}
.trip-info__lower-info {
    margin-top: 80vh;
    align-items: baseline;
    gap: 5vw;
}
.trip-info__name {
    position: absolute;
    left: 17vw;
    z-index: 500;
    margin: 5px 0 5px 0;
}
.trip-info__highlight {
    margin: 0;
}
.trip-info__description {
    background-color: rgba(255, 200, 0, 0.2);;
}
.trip-info__travelers-container, .trip-info__description {
    padding: 8px;
    border: 1px solid grey;
    border-radius: 10px;
}
.trip-desc__user-photo {
    width: 7vw;
}
.trip-info__description {
    width: 50vw;
}
.map, .locationsMap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 80vh;
}
.trip-info__buttons-container {
    gap: 5vw;
}
.newTrip__nextBtn, .index__add-btn, .locations__center-btn {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(255, 200, 0, 0.72);
    font-size: 18px;
}
.newTrip__nextBtn:hover {
    cursor: pointer;
    background-color: rgba(255, 200, 0, 0.9);
}

/* New Trip page */
.newTrip__container {
    padding: 8px;
    background-color: rgba(255, 200, 0, 0.32);
    border: 2px solid grey;
    border-radius: 10px;
}
.newTrip__textLine {
    padding: 8px;
}
.newTrip__text {
    font-size: 20px;
}
.newTrip__input-name, .newTrip__input-date, .newTrip__input-highlight, 
.newTrip__input-description, .nav__search-input, .newTrip__input-duration {
    background-color: rgba(153, 153, 153, 0.255);
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    margin-left: 2vw;
    width: 30vw;
    height: 6vh;
}
.newTrip__input-description {
    height: 20vh;
    width: 50vw;
}
.nav__search-input {
    margin: 0;
    width: 10vw;
}

/* new locations page */
.locationsMap {
    height: 90vh;
}
.locations__center-form > * {
    margin: 5px;
    padding: 8px;
}
.locations__upper-block {
    gap: 15vw;
    z-index: 300;
}
.locations__lower-block {
    margin-top: 80vh;
}

/* Footer */
.footer {
    background-color: #f7f7f7;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
  }

.footer__copyright {
    justify-self: end;
    color: #999;
  }

.footer__nav {
    font-size: 10px;
  }

